<table cellspacing="0">
  <thead>
    <tr>
      <th class="tcl">COMOinfo</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="tcl">
		  <%=bb Article.find(2).body %>
        </td>
      </tr>
  </tbody>
</table>
